/* Remove default spacing */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body */

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


/* Header */

header{
    background-color: #333;
    color: white;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}


nav a:hover{
    color: orange;
}


/* Hero Section */

.hero{
    text-align: center;
    padding: 60px 20px;
    background-color: white;
}


.hero h2{
    margin-bottom: 15px;
}


.hero p{
    margin-bottom: 20px;
}


.hero button{
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}


.hero button:hover{
    background-color: darkorange;
}


/* Products */

.products{
    padding: 40px 20px;
    text-align: center;
}


.product-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.product-card{
    background-color: white;
    width: 250px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px lightgray;
}


.product-card img{
    width: 100%;
}


.product-card h3{
    margin-top: 15px;
}


.product-card p{
    margin: 10px 0;
}


.product-card button{
    padding: 10px 15px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}


.product-card button:hover{
    background-color: black;
}


/* Footer */

footer{
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 30px;
}


/* Responsive Design */

@media (max-width: 768px){

    header{
        flex-direction: column;
    }

    nav{
        margin-top: 15px;
    }

}